@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Splash&family=Work+Sans&display=swap');
:root{
    --hero-color: #7550fe;
}

/* main *{
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    
} */
body{    
    display: flex;
    flex-direction: column;    
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #f5f4f8;  
    font-family: 'Inter', sans-serif;    
}
p.text.bold{
    font-weight: 600;
}



/* desktop */

@media (min-width:600px) {    
    .header{
    display:flex;
    flex-direction: column;
    }
    .nav{
        display:flex;
        height: 60px;
        align-items: center;
        gap: 10px;
        background-color: white;
        }
        .navDesktopMenu{
            margin-right: auto;
            flex-direction: row;
            display: flex;
        }
        .navDesktopMenu i{
            align-items: center;
            padding-right: 10px;
            padding-left: 5px;
            transform: translateY(32%);
                        
        }
        .logo{
        display:flex;
        justify-content: flex-start;
        width: 40px;
        height: 40px;
        background-image: url("./assets/logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        }
        .notification{
            justify-content: flex-end;
            display:flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #f5f4f8;
            
        }
        .notification i{            
            transform: translateY(11px);
        }
        .notifierCircle{
            border: 2px solid white;
            background-color: #7550fe;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display:flex;
        }
        
        .userAvatar{
            justify-content: flex-end;
            display:flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: flex-end;
            background-image: url("./assets/avatar-1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
        }
        .onlineOrOffline{
            border: 2px solid white;
            background-color: #1acb98;
            display:flex;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        .dropdownMenu{
            display: none;
        }
    .heroContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-color);
}
.heroTextHalf{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 5vw;
    
}
h1{
    margin: 0;
    color: white;
}
.splashImg{
    display: flex;
    height: calc(.7*40vw);        
    background-image: url("./assets/hero-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    
    }
    .subTitleText{
    display:flex;
    color: #baa6ff;
    }
    .headerButtonsContainer{
    display:flex;
    font-size: 10pt;
    font-weight: 600;
    }
    .headerButton01{
    display:flex;
    background-color: #1acb98;
    border-radius: 4px;
    margin-right: 5px;
    }
    .headerButton01 p{
        color: white;
        margin-inline: 1rem;
    }
    .headerButton02{
    display:flex;
    background-color: white;
    border-radius: 4px;    
    }
    .headerButton02 p{
        margin-inline: 1rem;

    }
    .perksContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid #efecf3;
    background-color: white;
    }
    .perk1{
    display:flex;
    }
    .icon01{
        width: 40%;
    }
    .perk2{
        display:flex;
    }
    .icon02{
        width: 40%;
    }
    .perk3{
        display:flex;
    }
    .icon03{
        width: 40%;
    }
    .iconContainer{
    display:flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffeeda;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .perkTextContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;    
    }
    .perkTextContainer p{
        margin:0;

    }
    .text{
    display:flex;
    }
    .bold{
    display:flex;
    }
    main{
        display: flex;
        flex-direction: column;
        background-color: #f5f4f8;
        font-size: large;
        font-weight: 600;
        margin-inline: 10vw;
    }
    .recContainer{
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    }
    .containerTitle{
    display:flex;
    
    margin-bottom: 20px;
    }
    .cardContainer{
    display:flex;
    justify-content: space-between;
    height: 40vh;
    min-height: 250px;
    max-height: 500px; 
    
    }
    .card{
    display:flex;
    flex-direction: column;
    width: 22%;
    min-width: 120px;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;  
    }
    .card p{
        margin:0;
    }
    .colorTop{
        display:flex;
        height: 40%;
        margin-bottom: 15px;
    }
    .cardImage{
        display:flex;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;        
    }
    .img01{background-image: url("./assets/course-graphql.jpg");}
    .img02{background-image: url("./assets/course-javascript.jpg");}
    .img03{background-image: url("./assets/course-node.jpg");}
    .img04{background-image: url("./assets/course-laravel.jpg");}
    .img05{background-image: url("./assets/course-html.jpg");}
    .img06{background-image: url("./assets/course-javascript.jpg");}
    .img07{background-image: url("./assets/course-node.jpg");}
    .img08{background-image: url("./assets/course-react.jpg");}
    .img09{background-image: url("./assets/course-gatsby.jpg");}
    .img10{background-image: url("./assets/course-html.jpg");}
    .img11{background-image: url("./assets/course-node.jpg");}
    .img12{background-image: url("./assets/course-laravel.jpg");}

    .avatar01{background-image: url("./assets/avatar-5.jpg");}
    .avatar02{background-image: url("./assets/avatar-6.jpg");}
    .avatar03{background-image: url("./assets/avatar-3.jpg");}
    .avatar04{background-image: url("./assets/avatar-7.jpg");}
    .avatar05{background-image: url("./assets/avatar-4.jpg");}
    .avatar06{background-image: url("./assets/avatar-6.jpg");}
    .avatar07{background-image: url("./assets/avatar-3.jpg");}
    .avatar08{background-image: url("./assets/avatar-2.jpg");}
    .avatar09{background-image: url("./assets/avatar-6.jpg");}
    .avatar10{background-image: url("./assets/avatar-4.jpg");}
    .avatar11{background-image: url("./assets/avatar-3.jpg");}
    .avatar12{background-image: url("./assets/avatar-7.jpg");}
    
    .cardMain{
    display:flex;
    flex-direction: column;
    margin-inline: 8px;    
}
    .courseTitle{
        font-size: 10pt;
        display:inline-flex;
        margin-block: 20px;
        
    }
    .courseDetails{
        font-size: 8pt;
        color: gray;
        display:flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .tinyClock{
        height: 15px;

    }
    .difficultyBars{
        display: flex;
        background-image: url("./assets/bar-chart-fill.svg");
        height: 100%;
        width: 20px;
        border-radius: 0;
        background-repeat: no-repeat;
    }
    .bar01{}
    .bar01{}
    .bar01{}
    
    .rating{
    display:flex;
    margin-top: 5px;
    }
    .price{
    display:flex;
    font-size: 10pt;
    font-weight: 400;
    }
    .starFill{
        background-image: url("./assets/star-fill.svg");
        height: 100%;
        border-radius: 0%;
        background-repeat: no-repeat;
        width: 20px;
    }
    .starEmpty{
        background-image: url("./assets/star.svg");
        height: 100%;
        border-radius: 0%;
        background-repeat: no-repeat;
        width: 20px;
        

    }
    .ratingText{color: gold;}
    .numberOfVotes{color: gray;}
    .cardFooter{
    display:flex;
    margin-top: auto;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 8px;
    }
    .cardAvatar{
    display:flex;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    
}
    .cardUserName{
    display:flex;
    font-size: 10pt;
    padding-left: 10px;
    }
    .bkmkImg{
    display:flex;
    margin-left: auto;
    margin-right: 10px;
    }
    .popContainer{
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    }
    .trendContainer{
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 15vh;
    }
    footer{
        display: flex;
        justify-content: center;
        background-color: #f5f4f8;
        margin-top: auto;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .footerContainer{
        display: flex;
        flex-direction: row;
        border-top: 2px solid #efecf3;
        width: 100%;
    }
    .text.copyright{
        margin-right: auto;
    }
    .footerContainer p{
        margin: 0;
    }
    .footerNav{
    display:flex;
    justify-content: center;
    gap:4vw;    
    }
}

/* Mobile */

@media (max-width:600px) {
    .header{
    display:flex;
    flex-direction: column;
    }
    .nav{
    display:flex;
    height: 60px;
    align-items: center;
    gap: 5px;
    background-color: white;
    }
    .navDesktopMenu{
        display: none;
    }
    .logo{
    display:flex;
    margin-right: auto;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    background-image: url("./assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    }
    .notification{
        justify-content: flex-end;
        display:flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f5f4f8;        
    }
    .notification i{            
        transform: translateY(11px);
    }
    .notifierCircle{
        border: 2px solid white;
        background-color: #7550fe;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display:flex;
    }
    .userAvatar{
        justify-content: flex-end;
        display:flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: flex-end;
        background-image: url("./assets/avatar-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .onlineOrOffline{
        border: 2px solid white;
        background-color: #1acb98;
        display:flex;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .dropdownMenu{
        justify-content: center;
        align-items: center;
        display:flex;
        width: 35px;
        height: 30px;
        border-radius: 4px;
        border: 2px solid #7550fe;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        
    }
    .menuBar{
        margin-block: 1px;
        background-color: #7550fe;
        width:20px;
        height:3px;
    }
    .heroContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--hero-color);
    }
    .splashImg{
        width: 100vw;
        height: calc(.7*100vw);
        background-image: url("./assets/hero-img.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .heroTextHalf{
        margin-left: 5vw;
    }
    h1{
        color: white;
        
    }
    .subTitleText{
    display:flex;
    color: #baa6ff;
    }
    .headerButtonsContainer{
    display:flex;
    margin-right: auto;
    font-size: 10pt;
    font-weight: 600;
    }
    .headerButton01{
    display:flex;
    background-color: #1acb98;
    border-radius: 4px;
    margin-right: 5px;
}
.headerButton01 p{
    color: white;
    margin-inline: 1rem;
}
.headerButton02{
        border-radius: 4px;
    display:flex;
    background-color: white;
    }
    .headerButton02 p{
        margin-inline: 1rem;

    }
    .perksContainer{
    display:flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 2px solid #efecf3;
    }
    .perk1{
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10vw;
}
.perk2{
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10vw;
}
.perk3{
    display:flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10vw;
    }
    .icon01{
        width: 40%;
    }
    .icon02{
        width: 40%;
    }
    .icon03{
        width: 40%;
    }
    .iconContainer{
        display:flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffeeda;
        justify-content: center;
        align-items: center;
    }
    .perkTextContainer{
    display:flex;
    flex-direction: column;
    }
    .perkTextContainer p{
        margin:2px;
    }
    .text{
    display:flex;
    }
    .bold{
    display:flex;
    }
    main{
        display: flex;
        flex-direction: column;
        background-color: #f5f4f8;
        font-size: large;
        font-weight: 600;
        margin-inline: 10vw;
    }
    .recContainer{
        display:flex;
        flex-direction: column;
    }
    .containerTitle{
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 0;
        display:flex;

    
    }
    .cardContainer{
        display:flex;
        justify-content: space-between;
        height: 40vh;
        min-height: 250px;
        max-height: 500px; 
    }
    .card{
        display:flex;
        flex-direction: column;
        width: 48%;
        min-width: 120px;
        max-width: 300px;
        background-color: white;
    }
    .card p{
        margin:0;
    }
    .colorTop{
        display:flex;
        height: 40%;
        margin-bottom: 15px;
    }
    .cardImage{
        display:flex;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .img01{background-image: url("./assets/course-graphql.jpg");}
    .img02{background-image: url("./assets/course-javascript.jpg");}
    .img03{background-image: url("./assets/course-node.jpg");}
    .img04{background-image: url("./assets/course-laravel.jpg");}
    .img05{background-image: url("./assets/course-html.jpg");}
    .img06{background-image: url("./assets/course-javascript.jpg");}
    .img07{background-image: url("./assets/course-node.jpg");}
    .img08{background-image: url("./assets/course-react.jpg");}
    .img09{background-image: url("./assets/course-gatsby.jpg");}
    .img10{background-image: url("./assets/course-html.jpg");}
    .img11{background-image: url("./assets/course-node.jpg");}
    .img12{background-image: url("./assets/course-laravel.jpg");}
    
    .cardMain{
    display:flex;
    flex-direction: column;
    margin-inline: 5px;
    }
    .courseTitle{
        font-size: 10pt;
        display:flex;
    }
    .courseDetails{
        font-size: 8pt;
        color: gray;
        display:flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .tinyClock{
        height: 15px;

    }
    .difficultyBars{
        display: flex;
        background-image: url("./assets/bar-chart-fill.svg");
        height: 100%;
        width: 20px;
        border-radius: 0;
        background-repeat: no-repeat;
    }
    .bar01{
}
    .bar02{}
    .bar03{}
    .rating{
        display:flex;
        margin-top: 5px;
        }
        .price{
        display:flex;
        font-size: 10pt;
        font-weight: 400;
        }
        .starFill{
            background-image: url("./assets/star-fill.svg");
            height: 100%;
            border-radius: 0%;
            background-repeat: no-repeat;
            width: 20px;
        }
        .starEmpty{
            background-image: url("./assets/star.svg");
            height: 100%;
            border-radius: 0%;
            background-repeat: no-repeat;
            width: 20px;
            
    
        }
        .ratingText{color: gold;}
        .numberOfVotes{color: gray;}
    .cardFooter{
    display:flex;
    margin-top: auto;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 8px;
    }
    .cardAvatar{
    display:flex;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    background-image: url("./assets/avatar-2.jpg");
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    }
    .cardUserName{
    display:flex;
    font-size: 10pt;
    padding-left: 10px;
    }
    .bkmkImg{
    display:flex;
    margin-left: auto;
    margin-right: 10px;
    }
    .popContainer{
    display:flex;
    flex-direction: column;
    }
    .trendContainer{
    display:flex;
    flex-direction: column;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f5f4f8;
        margin-top: auto;
    }
    .footerContainer{
        border-top: 2px solid gray;
        width: 80%;
    }
    .footerContainer p{
        margin: 0;
    }
    .footerNav{
    display:flex;
    justify-content: center;
    }
    .card.forDesktop{
        display: none;
    }    
}
